services:
  firebase-emulator:
    build:
      context: ./firebase
    working_dir: /workspace
    volumes:
      - ./firebase:/workspace
    ports:
      - "4000:4000"
      - "4400:4400"
      - "9099:9099"
      - "8082:8082"
